<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; <a href="/admin">游薪渝</a> 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-weibo"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>