<!-- jQuery -->
    <script src="../static/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="../static/js/creative.js"></script>
    <!-- Custom JavaScript -->
    <!-- // <script src="../static/js/timeline.js"></script> -->
    <script type="text/javascript">