#weiboData .well {
    background-color: #e9f0f5;
}

#sidebar {
    width: 150px;
    text-align: center;
}

input {
    padding:10px;
}
textarea {
    padding: 20px;
    resize: none;
    width: 100%;
    height: 500px;
    font-size: 1.0em;
    border: 0px;
    border-radius: 5px;
    background-color: white;
}

#charts {
    width: 100%;
    height: 600px;
}

footer {
    background-color: #e9f0f5;
}

#cloudChart {
    margin-top: 30px;
    width: 100%;
    height: 530px;
}

#weibo-summary {
    width: 100%;
}

#cd-timeline {}

#algorithm-tab {
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {
    #charts {
        height: 500px;
    }
    #cloudChart {
        height: 650px;
    }
    textarea {
        height: 400px;
    }
    #algorithm-tab {
        padding-top: 10px;
    }
}