{% extends "slide/base.html" %}
{% block content %}
    <!-- 引入 ECharts 文件 -->
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/echarts/theme.js"></script>

   
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
         {% include 'slide/nav.html' %}
    </nav>
    
    <!-- Page Content -->
    <div class="container page-container">
        <div class="row">
            <div class="col-md-3 visible-md-block visible-lg-block">
                <div id="sidebar" class="nav nav-list affix">
                    <p class="lead">算法简介</p>
                    <a href="#random" class="list-group-item page-scroll">Random</a>
                    <a href="#mostRecent" class="list-group-item page-scroll">MostRecent</a>
                    <a href="#TF-IDF" class="list-group-item page-scroll">TF-IDF</a>
                    <a href="#Hybrid-TFIDF" class="list-group-item page-scroll">Hybird TF-IFT</a>
                    <a href="#TextRank" class="list-group-item page-scroll">TextRank</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row" id="random">
                    <div class="col-md-12">
                        {% if weibos %}{% for weibo in weibos %}{% if loop.first %}
                        <h3 style="color:grey;text-align:center;">{{weibo.topic}}</h3>
                        {% endif %}{% endfor %}{% endif %}
                        <hr>
                        <div class="well">
                            <textarea id="txt-Hybrid-TFIDF" class="input" disabled="">
                                {% if weibos %}{% for weibo in weibos %}
{{weibo.content}}
                                {% endfor %}
                                {% endif %}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="thumbnail">
                    <div id="mostRecent">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                <div class="col-md-12 text-center">
                                    <div id="cloudChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="thumbnail" id="TF-IDF">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="algorithm-tab">
                                <li><a href="#random" data-toggle="tab">随机</a></li>
                                <li><a href="#mostrecent" data-toggle="tab">最前</a></li>
                                <li><a href="#tfidf" data-toggle="tab">TFIDF</a></li>
                                <li><a href="#hybirdtfidf" data-toggle="tab">Hybird-TFIDF</a></li>
                                <li><a href="#textrank" data-toggle="tab">TextRank</a></li>
                                <li><a href="#manual" data-toggle="tab">手动</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="random">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Random" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="mostrecent">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "MostRecent" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="textrank">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "TextRank" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="tfidf">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "TF-IDF" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="hybirdtfidf">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                    {% if summary.method|string() == 'Hybrid-TFIDF' %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="manual">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Manual1" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4>{{loop.index}}</h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumbnail" id="Hybrid-TFIDF">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="charts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}