<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'slide/header.html' %}
    <link href="../static/css/timeline.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".nav-list">
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
         {% include 'slide/nav.html' %}
    </nav>
    
    <!-- Page Content -->
    <div class="container page-container">
        <div class="row">

            <div class="col-md-3 visible-md-block visible-lg-block">
                <div id="sidebar" class="nav nav-list affix">
                    <p class="lead">算法简介</p>
                    <a href="#1" class="list-group-item page-scroll">Random</a>
                    <a href="#2" class="list-group-item page-scroll">MostRecent</a>
                    <a href="#3" class="list-group-item page-scroll">TF-IDF</a>
                    <a href="#4" class="list-group-item page-scroll">Hybird TF-IFT</a>
                    <a href="#5" class="list-group-item page-scroll">TextRank</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-12">
                            <section id="cd-timeline" class="cd-container">
                            {% if methods %}
                            {% for method in methods %}
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-location">
                                        <h4><i class="fa fa-newspaper-o"></i></h4>
                                    </div>
                                    <div class="cd-timeline-content" id='{{loop.index}}'>
                                        <h3>{{ method.name }}</h3>
                                        <p>{{ method.intro }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    {% include 'slide/footer.html' %}
    {% include 'slide/js.html' %}
</body>

</html>