{% extends "base.html" %}
{% block content %}
    <!-- 引入 ECharts 文件 -->
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/echarts/theme.js"></script>

    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">中文微博自动摘要</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">主页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/algorithm">算法简介</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">摘要演示</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="charts" style="width: 800px;height:600px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('charts'),'infographic');

    myChart.title = '五种算法ROUGH-1值对比';
    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:['平均召回','平均精度','平均F值','总和']
        },
        xAxis: [
            {
                type: 'category',
                data: ['TextRank','TFIDF','MostRecent','Random','Hybird-TFIDF'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                min: 0,
                max: 1,
                interval: 0.1,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                min: 0,
                max: 1,
                interval: 0.1,
                axisLabel: {
                    formatter: '{value} '
                }
            },
            {
                type: 'value',
                min: 0,
                max: 1,
                interval: 0.1,
            }
        ],
        series: [
            {
                name:'平均召回',
                type:'bar',
                data:[0.19139, 0.29511, 0.31565, 0.21544]
            },
            {
                name:'平均精度',
                type:'bar',
                data:[0.40909, 0.19368, 0.27475, 0.29911]
            },
             {
                name:'平均F值',
                type:'bar',
                data:[0.26078, 0.23387, 0.29379, 0.25047]
            },
            {
                name:'总和',
                type:'line',
                yAxisIndex: 1,
                data:[0.86126, 0.72266, 0.88419, 0.76502]
            }
        ]
    };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        // $.get('data.json').done(function (data) {
        //      myChart.setOption({
        //         title: {
        //             text: '异步数据加载示例'
        //         },
        //         tooltip: {},
        //         legend: {
        //             data:['销量']
        //         },
        //         xAxis: {
        //             data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        //         },
        //         yAxis: {},
        //         series: [{
        //             name: '销量',
        //             type: 'bar',
        //             data: [5, 20, 36, 10, 10, 20]
        //         }]
        //      });
        // }
    </script>
{% endblock %}