<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'slide/header.html' %}
    <link href="../static/css/timeline.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".nav-list">
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
         {% include 'slide/nav.html' %}
    </nav>
    
    <!-- Page Content -->
    <div class="container page-container">
        <div class="row">
            <div class="col-md-3 visible-md-block visible-lg-block">
                <div id="sidebar" class="nav nav-list affix">
                    <p class="lead">摘要演示</p>
                    <a href="#weiboData" class="list-group-item page-scroll">话题微博</a>
                    <a href="#keyword" class="list-group-item page-scroll">关键词云</a>
                    <a href="#weibo-summary" class="list-group-item page-scroll">摘要微博</a>
                    <a href="#analysis" class="list-group-item page-scroll">算法比较</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row" id="weiboData">
                    <div class="col-md-12">
                        {% if weibos %}{% for weibo in weibos %}{% if loop.first %}
                        <h3 style="color:grey;text-align:center;">{{weibo.topic}}</h3>
                        {% endif %}{% endfor %}{% endif %}
                        <hr>
                        <div class="well">
                            <textarea id="txt-analysis" class="input" disabled="">
                                {% if weibos %}{% for weibo in weibos %}
{{weibo.content}}
                                {% endfor %}
                                {% endif %}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="thumbnail">
                    <div id="keyword">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                <div class="col-md-12 text-center">
                                    <div id="cloudChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="thumbnail" id="weibo-summary">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="algorithm-tab">
                                <li><a href="#tfidf" data-toggle="tab">TFIDF</a></li>
                                <li><a href="#hybirdtfidf" data-toggle="tab">Hybird-TFIDF</a></li>
                                <li><a href="#textrank" data-toggle="tab">TextRank</a></li>
                                <li><a href="#manual" data-toggle="tab">人工</a></li>
                                <li><a href="#manual2" data-toggle="tab">人工2</a></li> 
                                <li><a href="#manual3" data-toggle="tab">人工3</a></li>
                                <li><a href="#mostrecent" data-toggle="tab">最前</a></li>
                                <li><a href="#random" data-toggle="tab">随机</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="random">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Random" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-location">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="mostrecent">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "MostRecent" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="textrank">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "TextRank" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="tfidf">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "TF-IDF" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="hybirdtfidf">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                    {% if summary.method|string() == 'Hybrid-TFIDF' %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-location">
                                            <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="manual">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Manual1" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-location">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="manual2">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Manual2" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                <div class="tab-pane" id="manual3">
                                    <section id="cd-timeline" class="cd-container">
                                        {% if summarys %}
                                        {% for summary in summarys %}
                                        {% if summary.method|string() == "Manual3" %}
                                        <div class="cd-timeline-block">
                                            <div class="cd-timeline-img cd-picture">
                                                <h4><i class="fa fa-newspaper-o"></i></h4>
                                            </div>
                                            <!-- cd-timeline-img -->
                                            <div class="cd-timeline-content">
                                                <!-- <h2>Title of section 1</h2> -->
                                                <p>{{ summary.content|e }}</p>
                                            </div>
                                            <!-- cd-timeline-content -->
                                        </div>
                                        {% endif%}
                                        {% endfor %}
                                        {% endif %}
                                    </section>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumbnail" id="analysis">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="charts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    {% include 'slide/footer.html' %}
    <!-- 引入 ECharts 文件 -->
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/echarts/theme.js"></script>
    <script src="../static/echarts/echarts-wordcloud.js"></script>
    
    {% include 'slide/js.html' %}

    $(function() {
        $('#algorithm-tab a:first').tab('show');
    })
    </script>
    <script>
    
    var data = [];
    {% if keywords %}
    {% for keyword in keywords %}
        keyword_name = "{{keyword.word}}"
        keyword_weight = "{{keyword.weight}}"
        data.push({
            name: keyword_name,
            value: keyword_weight
        });
    {% endfor %}
    {% endif %}

    var chart = echarts.init(document.getElementById('cloudChart'), 'infographic');

    // The shape of the "cloud" to draw. Can be any polar equation represented as a
    // callback function, or a keyword present. Available presents are circle (default),
    // cardioid (apple or heart shape curve, the most known polar equation), diamond (
    // alias of square), triangle-forward, triangle, (alias of triangle-upright, pentagon, and star.

    var option = {
        title: {
            text: '关键词 云图',
            subtext: '权重排序',
            x: 'center',
            y: '-3'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {
                    show: true,
                    readOnly: true
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        series: [{
            type: 'wordCloud',
            gridSize: 6,
            sizeRange: [30, 70],
            rotationRange: [-90, 90],
            shape: 'circle',
            textStyle: {
                normal: {
                    color: function() {
                        return 'rgb(' + [
                            Math.round(Math.random() * 300),
                            Math.round(Math.random() * 260),
                            Math.round(Math.random() * 240)
                        ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 4,
                    shadowColor: '#888'
                }
            },
            data: data
        }]
    };

    chart.setOption(option);
    window.onresize = chart.resize;
    </script>

    <script type="text/javascript">
    var method = []
    var data = []
    {% if results %}
    {% for r in results %}
        {% if loop.index0 == 0 %}
            {% for m in r %}
                 method.push('{{m}}');
            {%endfor%}
        {% endif %}
        data.push({{results[loop.index]}})
    {% endfor %}
    {% endif %}

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('charts'), 'infographic');

    myChart.title = '五种算法ROUGH-1值对比';
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ROUGH-1比较',
            subtext: '多种算法',
            x: '20'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {
                    show: true,
                    readOnly: true
                },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: {
            bottom: 'bottom',
            data: ['平均召回', '平均精度', '平均F值', '总和']
        },
        xAxis: [{
            type: 'category',
            data: method,
            axisPointer: {
                type: 'shadow'
            }
        }],
        yAxis: [{
            type: 'value',
            min: 0,
            max: 1.5,
            interval: 0.1,
            axisLabel: {
                formatter: '{value}'
            }
        }, {
            type: 'value',
            min: 0,
            max: 1.5,
            interval: 0.1,
            axisLabel: {
                formatter: '{value} '
            }
        }, {
            type: 'value',
            min: 0,
            max: 1.5,
            interval: 0.1,
        }],
        series: [{
            name: '平均召回',
            type: 'bar',
            data: data[0]
        }, {
            name: '平均精度',
            type: 'bar',
            data: data[1]
        }, {
            name: '平均F值',
            type: 'bar',
            data: data[2]
        }, {
            name: '总和',
            type: 'line',
            yAxisIndex: 1,
            data: data[3]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    // 随着窗口大小变化
    window.onresize = myChart.resize;
    </script>
</body>

</html>